@import url('normalize.less');
@import url('reset.less');
@import 'varable.less';

.content {
	margin-top: @headerHeight+10;
	margin-left: @marginLeft;
	margin-right: @marginLeft;	
	.eye {
		font-size: 20px;
		position: absolute;
		z-index: 1;
		top: 10px;
		right: 0;
		width: 38px;
		height: 38px;
		text-align: center;
		color: #9a9791;
	}
	input {
		border:1px solid #d0cdc7;
		margin-bottom: @marginbottom;
		font-size: @inputFont;
	}
	.text {
		width: 60%;
		font-size: @inputFont;
		margin-bottom: @marginbottom;
		border:1px solid #d0cdc7;
	}
	.btn {
		height: @btnH;
		width: 30%;
		margin-left: @marginLeft;
		font-size: @inputFont;
		background-color: @btnBg;
		color: @white;
	}
	a {
		display: block;
		height: @btnH;
		width: 100%;
		background: @btnBg;
		text-align: center;
		line-height: @btnH;
		color: @white;
		font-size: @inputFont;
	}
}
.agree{
	padding: 24px 10px;
	color: @black;
	a {
			float: right;
			color:  @aColor;
	}
}